doctype html
html
	head
		title Welcome

		// WebComponents polyfill
		//script(type='text/javascript') 
		//	| import 'foo/bar';
		
		script(src='webcomponentsjs/webcomponents.js')

		// Site-wide styles
		link(rel='stylesheet', type='text/scss', href='assets/stylesheets/index.scss')

		// Components
		link(rel='import', href='components/my-component/index.jade')

	body
		h1 Hello World

		my-component(user='test')
